body {
    color: #fff;
    background: #000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Meiryo, "Noto Sans JP", sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
}

#mainwrapper {
    width: 100%;
    background: #000;
    height: 100vh;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
}

.eqspan:hover {
    color: #002;
    background: #ddf;
}

#wrapper1,
#wrapper2 {
    position: relative;
    display: flex;
    user-select: none;
    width: 100%;
    height: 100%;
}

#wrapper2 {
    flex-direction: column;
}

#kyoshin {
    position: relative;
    width: 352px !important;
    height: 400px !important;
}

#basemap {
    position: absolute;
    z-index: 0;
}

#shindoimg {
    position: absolute;
    z-index: 10;
}

#eew,
#eqlist {
    width: 352px;
    border: 1px solid #fff;
    border-radius: 5px;
    overflow: auto;
}

#eqmap {
    width: 50vw;
    height: 100vh;
    position: relative;
    z-index: 15 !important;
}

#eqlist {
    height: 100vh;
}

#tubevideos {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 400px;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

#telop {
    width: 100vw;
    font-size: 17px;
    height: 21px;
    color: #fff;
    background: #222;
    display: inline-block;
    white-space: nowrap;
    z-index: 20;
}

#telop li {
    white-space: nowrap;
    z-index: 20;
}

#videogroup1, #videogroup2 {
    display: flex;
    flex-direction: row;
}

/* liScroll styles */

.tickercontainer {
    /* the outer div with the black border */
    border: 1px solid #000;
    background: #222;
    height: 21px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    z-index: 20;
}

.tickercontainer .mask {
    /* that serves as a mask. so you get a sort of padding both left and right */
    position: relative;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

ul.newsticker {
    /* that's your list */
    position: relative;
    left: 750px;
    font: bold 10px Verdana;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

ul.newsticker li {
    float: left;
    /* important: display inline gives incorrect results when you check for elem's width */
    margin: 0;
    padding: 0;
    background: #222;
}

ul.newsticker a {
    white-space: nowrap;
    padding: 0;
    color: #ff0000;
    font: bold 10px Verdana;
    margin: 0 0 0 0;
}

ul.newsticker span {
    margin: 0 0 0 0;
}

@media screen and (max-width: 1599px) {
    #eqlist {
        height: 50vh;
        top: 50vh;
        position: absolute;
    }
    #eqmap {
        width: 100vw;
        height: 50vh;
    }

    #wrapper2 {
        width: calc(100vw - 352px);
        position: absolute;
        left: 352px;
        top: 50vh;
        display: flex;
        flex-direction: row;
    }

    #tubevideos {
        position: absolute;
        width: calc(100% - 352px);
        left: 352px;
        top: 0;
    }
}